<h1>Cart</h1>
<div class='cart-container'>
    <div class='d-flex justify-content-between align-items-center'>
        <h2>Rib Eye</h2>
        <div class='d-flex justify-content-between align-items-center edit-item-cart'>
            <p>Quantity</p>
            <button type='button' id='edit-cart'>Edit</button>
        </div>
    </div>
</div>