<h1>Cart</h1>
<div class='cart-container'>
    {{#each orderItems}}
    <div class='d-flex justify-content-between align-items-center'>
        <h2>{{menu_item.name}}</h2>
        <div class='d-flex justify-content-center align-items-center edit-item-cart'>
            <p class="cart-quantity">{{quantity}}x</p>
            <button type='button' class='edit-cart-btn'>Edit</button>
            <button type='button' class='delete-cart-btn'>Delete</button>
        </div>
    </div>
    {{/each}}
</div>
<button type='submit' id='cart-submit'>Submit Order</button>