<h1>Cart</h1>
<div class='cart-container'>
    {{#each orderItems}}
    <div id={{menu_item_id}} class='d-flex justify-content-between align-items-center cart-item'>
        <div class='cart-name'>
            <h2>{{menu_item.name}}</h2>
            <p class="cart-quantity" quantity={{quantity}}>{{quantity}}x</p>
        </div>
        <div class='d-flex justify-content-end align-items-center edit-item-cart'> 
            <button type='button' class='edit-cart-btn'>Edit</button>
            <button type='button' class='delete-cart-btn'>Delete</button>
        </div>
    </div>
    {{/each}}
</div>
<a href='/menu'>Back to menu</a>
<button type='submit' id='cart-submit'>Submit Order</button>
<script src='/javascript/cart.js'></script>
