<h1>Contactless Ordering</h1>
<p class="lead">Use this app to order your food contactless. To get started, find your table number on your table and
    click the button below.</p>
<p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Start Order</a>
</p>