<h1>Employee Access</h1>

{{!-- Login form --}}
<h5>Please login with your employee id and password</h5>
<form class="login-form">
  <div class='d-flex justify-content-between'>
    <label for="id-login">ID:</label>
    <input type="text" id="id-login" />
  </div>
  <div class='d-flex justify-content-between'>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

{{!-- signup form --}}
<h5>If you are a new employee please create your account</h5>
<form class="signup-form">
  <div class='d-flex justify-content-between'>
    <label for="firstname-signup">First Name:</label>
    <input type="text" id="firstname-signup" />
  </div>
  <div class='d-flex justify-content-between'>
    <label for="lastname-signup">Last Name:</label>
    <input type="text" id="lastname-signup" />
  </div>
  <div class='d-flex justify-content-between'>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

{{!-- login javascript front end code --}}
<script src="./javascript/login.js"></script>