<h2 id='menu-header'>Select a category to view the available items and add them to your cart:</h2>
<div class='container menu'>
    {{#each menu}}
    <div class='menu-category'>
        <h2>{{name}}</h2>
        <div class='menu-item-container'>
            {{#each menu_items}}
            <div class='menu-item'>
                <div class='d-flex flex-column justify-content-center item-info'>
                    <p class='item-title'>{{name}}</p>
                    <p class='description'>{{description}}</p>
                </div>
                <i class="gg-add-r"></i>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
<script src='/javascript/menu.js'></script>