<div class='container'>
    <div class='menu-category'>
        <h2>Appetizers</h2>
        <div class='menu-item-container'>
            <div class='menu-item'>
                <p>Shrimp Cocktail</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Mozzarella Sticks</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Buffalo Wings</p>
                <i class="gg-add-r"></i>
            </div>
        </div>
    </div>
    <div class='menu-category'>
        <h2>Entrees</h2>
        <div class='menu-item-container'>
            <div class='menu-item'>
                <p>Shrimp Cocktail</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Mozzarella Sticks</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Buffalo Wings</p>
                <i class="gg-add-r"></i>
            </div>
        </div>
    </div>
    <div class='menu-category'>
        <h2>Sides</h2>
        <div class='menu-item-container'>
            <div class='menu-item'>
                <p>Shrimp Cocktail</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Mozzarella Sticks</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Buffalo Wings</p>
                <i class="gg-add-r"></i>
            </div>
        </div>
    </div>
    <div class='menu-category'>
        <h2>Desserts</h2>
        <div class='menu-item-container'>
            <div class='menu-item'>
                <p>Shrimp Cocktail</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Mozzarella Sticks</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Buffalo Wings</p>
                <i class="gg-add-r"></i>
            </div>
        </div>
    </div>
    <div class='menu-category'>
        <h2>Drinks</h2>
        <div class='menu-item-container'>
            <div class='menu-item'>
                <p>Shrimp Cocktail</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Mozzarella Sticks</p>
                <i class="gg-add-r"></i>
            </div>
            <div class='menu-item'>
                <p>Buffalo Wings</p>
                <i class="gg-add-r"></i>
            </div>
        </div>
    </div>
</div>
<script src='/javascript/menu.js'></script>