{{!-- display all orders for specific employee --}}

<main>
  {{!-- set up main layout --}}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {{!-- loop over each order --}}
    {{!-- HOW TO ADD ORDER INFO HERE USING {{}}??? --}}
    {{!-- {{#each orders as |order|}} --}}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm text-dark">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Order Number: {{id}}</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            {{!-- use hbr expressions here --}}
            <li>order item 1</li>
            <li>order item 2</li>
            <li>order item 3</li>
            <li>order item 4</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Order finished</button>
        </div>
      </div>
    </div>
    {{!-- {{/each}} --}}

    {{!-- hard coded for testing --}}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm text-dark">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Order Number 2</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>order item 1</li>
            <li>order item 2</li>
            <li>order item 3</li>
            <li>order item 4</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Order finished</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary text-dark">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Order Number 3</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>order item 1</li>
            <li>order item 2</li>
            <li>order item 3</li>
            <li>order item 4</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Order finished</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm text-dark">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Order Number 4</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>order item 1</li>
            <li>order item 2</li>
            <li>order item 3</li>
            <li>order item 4</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Order finished</button>
        </div>
      </div>
    </div>
  </div>





  {{!-- connect js file --}}
  <script src="/javascript/orders.js"></script>