* {
  box-sizing: border-box;
}

header h3 {
  color: #fff;
}

header nav {
  margin-right: 40px;
  width: 50px;
}

header a i {
  color: #fff;
}

header nav p {
  margin-top: 15px;
  color: #ff0000;
  line-height: 14px;
  margin-bottom: 0;
}

footer {
  margin: 50px;
}

footer div {
  width: 40%;
  margin: 0 auto;
}

footer p {
  margin-bottom: 0;
}

.menu {
  margin-top: 20px;
}

.menu-category {
  margin-bottom: 30px;
}

.menu-category h2 {
  width: 50%;
  border: 2px solid #fff;
  margin: 0 auto 20px auto;
  padding: 5px;
  background-color: #fff;
  color: #000;
}

.menu-category h2:hover {
  background-color: #8a8a8a;
  cursor: default;
}

.menu-item {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-title {
  width: 70%;
  text-align: left;
  font-size: 22px;
  margin-bottom: 0;
}

.menu-item-container {
  display: none;
}

.gg-add-r:hover {
  color: #8a8a8a;
  cursor: pointer;
}

.gg-shopping-cart {
  transform: scale(var(--ggs,1.5));
  top: 6px;
  color: #fff;
}

.gg-shopping-cart:hover {
  transform: scale(var(--ggs,1.7));
  cursor: pointer;
}

.nav-link {
  padding: 0;
}

.item-info {
  width: 60%;
}

.description {
  color: #8a8a8a;
  font-size: 13px;
  text-align: left;
  margin-bottom: 0;
}

.quantity-input {
  display: block;
}

.quantity-input select {
  margin: 0 15px 0 5px;
}

.add-success {
  display: none;
}

.cart-container {
  width: 50%;
  margin: 0 auto;
}

.cart-container > * {
  margin-top: 15px;
}

.cart-container h2 {
  font-size: 25px;
  margin-bottom: 0;
}

.cart-container p {
  margin-bottom: 0;
}

.edit-item-cart {
  width: 60%;
}

.cart-quantity {
  text-align: left;
}

.edit-cart-btn {
  margin-right: 10px;
}

.cart-quantity-input {
  float: left;
  size: 50px;
}

#continue-order-btn {
   display: none;
}

#menu-header {
  font-size: 20px;
  margin-top: 60px;
}

#table-number {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 40px;
  height: 30px;
}

#homepage {
  margin-top: 50px;
}

#homepage > * {
  margin-top: 15px;
}

#start-order-error {
  color: #ff0000;
  display: none;
}

#cart-btn {
  border: none;
  background: none;
}

#cart-submit {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 992px) {
  .menu-item {
    width: 65%;
  }

  .menu-category h2 {
    width: 65%;
  }

  .cart-item h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 769px) {
  .menu-item {
    width: 80%;
  }

  .menu-category h2 {
    width: 80%;
  }

  .cart-item {
    flex-direction: column;
  }

  .cart-container {
    margin: 20px auto 20px auto;
  }

  .cart-container > * {
    margin-top: 30px;
  }

  .cart-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .cart-item h2 {
    margin-right: 20px;
  }

  .edit-item-cart {
    align-items: center !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 550px) {
  .item-title {
    font-size: 18px;
  }

  .description {
    font-size: 11px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-info {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .item-info p {
    text-align: center;
  }

  .item-title {
    margin-right: auto;
    margin-left: auto;
  }

  .menu-category h2 {
    margin-bottom: 10px;
  }

  .gg-add-r {
    width: 45px;
  }

  .gg-add-r::after {
    left: 16px;
  }

  .gg-add-r::before {
    left: 12px;
  }
}